/*******
COLOR CHEAT SHEET
https://coolors.co/780000-c1121f-fdf0d5-003049-669bbc
780000 -Dark Red
c1121f -Bright Red
fdf0d5 -Off White
003049 -Deep Blue
669bbc -Light Blue
ffffff -white
000000 -black

*****/



/************************/
/******** FONTS *********/
/************************/
body, p, div{
     font-family: "Instrument Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     font-Family: "Bungee Inline", sans-serif;
}


/************************/
/********  HERO  *********/
/************************/

header.masthead {
     background: url("https://a2.espncdn.com/combiner/i?img=%2Fphoto%2F2020%2F0601%2Fnhl_building-perfect-defensemen_16x9.jpg");
     background-size: cover;
}

.masthead h1 {
     color: #003049;
     text-shadow:2px 2px 5px white;
}

.masthead p{
     color: black;
     font-weight: 900;
     text-shadow: 2px 2px 3px white;
     font-size: 1.25em !important;
}
 
/************************/
/****** Portfolio  ****/
/************************/

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: #c1121ea2;
}

/************************/
/********  Colors  *********/
/************************/

.text-primary {
    color:#003049 !important;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color:#003049  !important;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #c1121f;
    opacity: 1;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #003049;
    --bs-btn-border-color: #669bbc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#669bbc ;
    --bs-btn-focus-shadow-rgb: 246, 122, 88;
    --bs-btn-active-color: #fff;
}

.bg-dark {

    background-color: black !important;
}

.btn-light {
    --bs-btn-color: #fff;
    --bs-btn-bg: #c1121f;
    --bs-btn-border-color: #669bbc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#669bbc ;
    --bs-btn-focus-shadow-rgb: 246, 122, 88;
    --bs-btn-active-color: #fff;
}

