/*******
COLOR CHEAT SHEET
https://coolors.co/780000-c1121f-fdf0d5-003049-669bbc
780000 -Dark Red
c1121f -Bright Red
fdf0d5 -Off White
003049 -Deep Blue
669bbc -Light Blue
ffffff -white
000000 -black

*****/



/************************/
/******** FONTS *********/
/************************/
body, p, div{
     font-family: "Instrument Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
     font-Family: "Bungee Inline", sans-serif;
}


/************************/
/********  HERO  *********/
/************************/

header.masthead {
     background: url("https://static.vecteezy.com/system/resources/previews/031/735/176/large_2x/ice-hockey-sport-background-close-up-of-the-ice-on-the-rink-close-up-of-ice-in-hockey-rink-ai-generated-free-photo.jpg");
     background-size: cover;
}

.masthead h1 {
     color: #003049;
     text-shadow:2px 2px 5px white;
}

.masthead p{
     color: black;
     font-weight: 900;
     text-shadow: 2px 2px 3px white;
     font-size: 1.25em !important;
}
 
/************************/
/****** Portfolio  ****/
/************************/

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: #c1121ea2;
}

/************************/
/********  Colors  *********/
/************************/

.text-primary {
    color: #003049 !important;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color:#003049  !important;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #c1121f;
    opacity: 1;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #003049;
    --bs-btn-border-color: #669bbc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#669bbc ;
    --bs-btn-focus-shadow-rgb: 246, 122, 88;
    --bs-btn-active-color: #fff;
}

.bg-dark {

    background-color:#003049 !important;
}

.btn-light {
    --bs-btn-color: #fff;
    --bs-btn-bg: #c1121f;
    --bs-btn-border-color:#003049;
    --bs-btn-hover-color: #669bbc; 
    --bs-btn-hover-bg: white;
    --bs-btn-focus-shadow-rgb: 246, 122, 88;
    --bs-btn-active-color: #669bbc;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #c1121f !important;
}

a {
    color: #c1121f;
    text-decoration: underline;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #c1121f;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 0 1rem;
}

#mainNav .navbar-brand {
    color: white;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #003049;
    text-align: center;
    text-shadow: 2px 2px 3px white;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #003049;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#mainNav.navbar-shrink .navbar-brand:hover {
    color: #c1121f;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: white;
    border-color: white;
}